body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*About Logging*/
li.even {
    background-color : lightgray;
}

span.Critical{color: #800000}
span.Error{color:#FF0000}
span.Warning{color:#FFA500}
span.Info{color:#0000FF}
span.Verbose{color:#808080}
span.Misc{color:#2F4F4F}

span.time{background-color : #66a9a9}
span.origin{background-color:burlywood}
/*Logging*/